<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Jobify</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><img src="/images/logo.png" alt="Jobify" class="jobify"></h1>
        <p>We are Jobify - Join us!</p>